@model HireMeFinal.Entities.Postings

@{
    ViewBag.Title = "Admin: Edit " + @Model.companyName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @Model.jobTitle</h3>
    </div>

    @using (Html.BeginForm("Edit", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.jobPostingID)
            @foreach (var prop in ViewData.ModelMetadata.Properties)
            {
                if (prop.PropertyName != "jobPostingID")
                {
                    <div class="form-group">
                        <label>@(prop.DisplayName ?? prop.PropertyName)</label>
                        @if (prop.PropertyName == "companyName")
                        {
                            @Html.Value(prop.PropertyName)
                        }
                        else if (prop.PropertyName == "jobDescription")
                        {
                            @Html.TextArea(prop.PropertyName, null, new {@class = "form-control", rows = 5})
                        }
                        else
                        {
                            @Html.TextBox(prop.PropertyName, null, new { @class = "form-control"})
                        }
                        @Html.ValidationMessage(prop.PropertyName)
                    </div>
                }
            }

        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary"/>
            @Html.ActionLink("Cancel edit and return to postings", "Index", null, new { @class = "btn btn-default"})
        </div>

    }
</div>