@model HireMeFinal.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a New Account</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(m => m.firstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.lastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address1, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Address2, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" name="state">
                <option> </option>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>Florida</option>
                <option>Georgia</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Maryland</option>
                <option>Massachusetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshire</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
                <option>Oregon</option>
                <option>Pennsylvania</option>
                <option>Rhode Island</option>
                <option>South Carolina</option>
                <option>South Dakota</option>
                <option>Tennessee</option>
                <option>Texas</option>
                <option>Utah</option>
                <option>Vermont</option>
                <option>Virginia</option>
                <option>Washington</option>
                <option>West Virginia</option>
                <option>Wisconsin</option>
                <option>Wyoming</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.zipCode, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.cellPhone, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.cellPhone, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Major, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <select class="form-control" name="major">

                <option>General Studies</option>
                <option>Accounting</option>
                <option>Advertising/Marketing</option>
                <option>Aerospace</option>
                <option>Agriculture</option>
                <option>Architecture/Urban Planning</option>
                <option>Arts</option>
                <option>Automotive</option>
                <option>Banking</option>
                <option>Biotech &amp; Pharmaceuticals</option>
                <option>Business Services</option>
                <option>Chemicals</option>
                <option>Communications/Media</option>
                <option>Computer Information Systems</option>
                <option>Computers</option>
                <option>Construction</option>
                <option>Consulting</option>
                <option>Consumer Products</option>
                <option>Cosmetology</option>
                <option>Education</option>
                <option>Electronics</option>
                <option>Energy</option>
                <option>Engineering</option>
                <option>Entertainment</option>
                <option>Entrepreneurial/Start-Ups</option>
                <option>Environment</option>
                <option>Fashion</option>
                <option>Financial Services</option>
                <option>Food Science</option>
                <option>Food Services</option>
                <option>Forestry</option>
                <option>Government/Public Administration</option>
                <option>>Health Information Systems</option>
                <option>Healthcare</option>
                <option>Hotel, Restaurant, Hospitality</option>
                <option>Housing &amp; Urban Development</option>
                <option>Information Technology-Networking</option>
                <option>Insurance</option>
                <option>Interior Design</option>
                <option>International Affairs &amp; Development</option>
                <option>Internet</option>
                <option>Investment Banking</option>
                <option>Law</option>
                <option>Law Enforcement &amp; Security</option>
                <option>Manufacturing</option>
                <option>Maritime</option>
                <option>Military &amp; Defense</option>
                <option>Mining</option>
                <option>Museums &amp; Libraries</option>
                <option>Natural Resources</option>
                <option>Non-Profit/Philanthropy</option>
                <option>Other</option>
                <option>Parks and Camps</option>
                <option>Print &amp; Publishing</option>
                <option>>Railroad</option>
                <option>Real Estate</option>
                <option>Religion</option>
                <option>Retail/Wholesale</option>
                <option>Rubbers &amp; Plastics</option>
                <option>Sciences</option>
                <option>Sports &amp; Recreation</option>
                <option>Staffing &amp; Executive Search</option>
                <option>Telecommunications</option>
                <option>Tobacco</option>
                <option>Trade</option>
                <option>Transportation</option>
                <option>Travel &amp; Tourism</option>
                <option>Unspecified</option>
                <option>Utilities</option>
                <option>Venture Capital/Principal Investing</option>
                <option>Veterinary</option>
                <option>Waste Management</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
